{% extends "layout.html" %}

{% block content %}
<div class="row" style="padding:10px"> 
	<!--=====================================================================================-->
	<div class="col-3">
		<div class="row"> 
			<div class="col-3">
				<button type="button" class="btn btn-outline-dark"> All Filters</button>
				<!--utton class="btn btn-outline-success my-2 my-sm-0" type="submit -->
			</div>
			<div class="col-3">			
				<button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Price</button>
				<ul class="dropdown-menu">
					<li><input type="checkbox" name="dropdown-group" value="$" />$</li>
					<li><input type="checkbox" name="dropdown-group" value="$$" />$$</li>
					<li><input type="checkbox" name="dropdown-group" value="$$$" />$$$</li>
					<li><input type="checkbox" name="dropdown-group" value="$$$$" />$$$$</li>
					<li><hr></li>
					<li><a class="dropdown-item" href="#">save</a></li>
				</ul>
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-outline-dark"> Open Now</button>
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-outline-dark"> Offers Delivery</button>
			</div>
	  </div>
		<hr>
		<div class="scroll">
		{% for restaurant in restaurants %}
			<div class="card" >
				<div class="card-body">
					<div class="row">
						<!-- Listing Item -->
						<div class="col-sm-4 col-xs-4">
							<div class="listing-item-image">
								<img src="{{ restaurant[11] }}" alt="" width="125" height="125">
							</div>					
						</div>
						<div class="col-md-7 col-xs-7">
							<h4> {{ loop.index }}. {{ restaurant[1]}} </h4>	
							<p>Review rating: {{ restaurant[8] }} ({{ restaurant[10] }} reviews)</p>
							
								{% for tag in restaurant[9].split(",")[:3] %}
								<button class="btn btn-sm btn-outline-secondary py-0" style="font-size: 0.8em;" >{{ tag }}</button>
								
								{% endfor %}
							
							{% set str_time = restaurant[12] %}
							{%if str_time %}
							{% set str_days = str_time.split(",") %}
							{% for str_day in str_days %}
							{% set temp = str_day|replace("{","")|replace("}","")| replace("'","") %}
							{% set day,time  = temp.split(": ") %}
							{% if day[:3] == weekday[:3] %}
							{% set till = time.split("-")[1].split(":")[0]|int %}
							{% set till = till%12  %}
							{% set till = till|string  %}
							{% set till = till+'PM' %}
							{% if till == '0' %}{%set till = '12 AM' %}{%endif%}
							<p>open till {{till }} </p>
							{%endif%}
							{% endfor %}
							
							{% endif %}

							<p> {{ get_one_review(restaurant[0])}} <span id="dots">...</span><span id="more"></span></p>
							<a href="restaurant?business_id={{ restaurant[0] }}">more</a>
						</div>
						
						<!-- Listing Item / End -->
					</div>
				</div>
			</div>
			
		{% endfor %}
		</div>
	</div>

	<!--=====================================================================================-->
	<div class="col-9">
		<div class="card" style="height:100%">
			<div class="card-body" style="height:100%">
				<div class="row" style="height:100%">
					<div class="ind-contato" style="height:100%">
						{%set home = "1208 Orange blossom Circle,Auburndale, FL"%}
				{% set school =  "4700 research way , lakeland , FL "%}
						<iframe  src="https://maps.google.com/maps?width=125%25&amp;height=800&amp;hl=en&amp;q=Google,   [{{ home,school }} ,  {{school}} ]  &amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
							frameborder="0" allowfullscreen></iframe>
					
						
					
					</div>
			  </div>
		  </div>
		</div>
	</div>
	<!--=====================================================================================-->
</div>
	
{% endblock %}