{% extends "layout.html" %}

{% block content %}


<!--https://getbootstrap.com/docs/4.0/components/button-group/-->



<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<!-- Sidebar
		================================================== -->
		<div class="col-3">
			<div class="sidebar">

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-30">Filters</h3>

					<!-- Row -->
					<h3 class="margin-top-0 margin-bottom-30">Price</h3>
					<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
						<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
						<label class="btn btn-outline-primary" for="btncheck1">$</label>
						<input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
						<label class="btn btn-outline-primary" for="btncheck2">$$</label>
						<input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
						<label class="btn btn-outline-primary" for="btncheck3">$$$</label>
						<input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
						<label class="btn btn-outline-primary" for="btncheck4">$$$$</label>
						
						
						   
						
					</div>
					<hr class="hr hr-blurry" />	
					
					<!-- Row end-->
					
					



					<!-- More Search Options -->
					

					

						<!-- Checkboxes -->
						
						{% for filter in suggested_filters %}
						<div class="form-check">
							<input id="{{ filter }}" type="checkbox" name="check">
							<label for="{{ filter }}">{{ filter }}</label>
						</div>
						{% endfor %}						
					
						
						
						<hr class="hr hr-blurry" />	
						<!-- Checkboxes / End -->
						
						
						<!-- Buttons -->
						<!--https://getbootstrap.com/docs/5.1/components/button-group/ -->
						
							{% for filter in category_filters %}
							<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
							<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
							<label class="btn btn-outline-primary" for="btncheck1">{{ filter }}</label>
							</div>
						   {% endfor %}
						   <hr class="hr hr-blurry" />	
						  
						<!-- Buttons / End -->

						<!-- Buttons -->
						
						{% for filter in distance_filters %}
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
							<label class="form-check-label" for="flexRadioDefault1">
							  {{ filter }}
							</label>
						</div>
					   {% endfor %}
					   <hr class="hr hr-blurry" />	
					  
					<!-- Buttons / End -->
					
					<!-- More Search Options / End -->

					

				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->

		<div class="col-6">

			
			<div class="row margin-bottom-25">

				<div class="col-md-6 col-xs-6"></div>

				<div class="col-md-6 col-xs-6">
					<!-- Sort by -->
					<div class="sort-by">
						<div class="sort-by-select">
							<select data-placeholder="Default order" class="chosen-select-no-single">
								<option>Default Order</option>	
								<option>Highest Rated</option>
								<option>Most Reviewed</option>
								<option>Newest Listings</option>
								<option>Oldest Listings</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			


			
			{% for restaurant in restaurants %}
			
			<div class="row">
				<!-- Listing Item -->
				<div class="col-sm-4 col-xs-4">
					<div class="listing-item-image">
						<img src="{{ restaurant.image }}" alt="" width="125" height="125">
					</div>					
				</div>
				<div class="col-md-7 col-xs-7">
					<h4> {{ loop.index }}. {{ restaurant.name}} </h4>	
					<p>Review rating: {{ restaurant.rating }} ({{ restaurant.rating }} reviews)</p>
					{% for tag in restaurant.tags %}
					<button>{{ tag }}</button>
					{% endfor %}
					<p>Open from <time>10:00</time> to <time>21:00</time> every weekday.</p>
					<p>{{ restaurant.reviews[0].review_comment }}<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
					<a href="single_restaurant/{{ restaurant.name }}">Read more</a>
				</div>
				
				<!-- Listing Item / End -->
			</div>
			<hr/>
			{% endfor %}
			
			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
		<div class="col">
			<div>
				<iframe width="125%" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=125%25&amp;height=800&amp;hl=en&amp;q=Google,  {{ current_location }}, USA&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>5
			</div>
		</div>


		
	</div>
</div>
{% endblock %}