{% extends "layout.html" %}
{% block content %}
<!-- For rating stars-->
<style>
    .checked {
      color: orange;
    }
</style>
<!-- For rating stars end -->

<div >
    <div class="bg-img bg-cover" style="background-image: url('{{  restaurant_data.image }}'); height:300px; width:100%;"></div>
        <br/><br/><br/><br/><br/><br/><br/><br/>
   <h1><strong> {{ restaurant_data.name }} </strong></h1>
   <h4> {{ restaurant_data.address + ", " + restaurant_data.city + ", " + restaurant_data.state}} </h4>
   <h5> {{ restaurant_data.stars }} ( {{ restaurant_data.review_count}} reviews) </h5>
   {% if restaurant_data.claimed == "True" %}<h6><strong> Claimed </strong></h6>{% endif %}
   {% if not restaurant_data.claimed == "True" %}<h6><strong> Unclaimed </strong></h6>{% endif %}
   

</div>
<br/><br/>
<hr/>

<!--Container Start-->
<div class="container">
    <div class="row">
        <div class="col-7">
            <button class="btn btn-danger">Write a review </button>
            <button class="btn btn-outline-secondary" >Add  photo</button>
            <button class="btn btn-outline-secondary" >share</button>
            <button class="btn btn-outline-secondary" >save</button>
            <hr>
            <h4><strong>Menu</strong></h4>
            <div class="row">
                

                <div class="col-6">
                    <button class="btn btn-outline-secondary">Full Menu</button> 
                </div>  
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h4>Location & Hours</h4>
                    <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Google,  {{ restaurant_data.address + ", " + restaurant_data.city + ", " + restaurant_data.state }}, USA&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    <div class="row">
                        <div class="col-6"><p>{{ restaurant_data.address }} <br> {{restaurant_data.city }} , {{ restaurant_data.state }}  {{ restaurant_data.zip }} </p></div>
                        <div class="col-6"><button class="btn btn-outline-secondary">Get directions</button></div>
                    </div>
                    
                </div>
                <div class="col-6">
                    <h5 align="right">Suggest an edit</h5>
                    <table>
                    {% if restaurant_data.hours %}    
                    {% for key,value in restaurant_data.hours.items() %}
                    <tr><td>{{ key}}</td><td>{{value }} 
                            {% if  (key == weekday) and (restaurant_data.is_open == 1)%} <font color="green">open now</font>{% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </table>
                </div>
            </div>
            <hr>
            <div class="row"> 
                <h3>Recommended Reviews</h3>
                <div class="col-6">
                    Overall Rating <br>
                    <h1><font color="red">{{ restaurant_data.stars }}</font>
                    

                    {% for i in range(restaurant_data.stars | int) %}
                        <span class="fa fa-star checked"></span>                        
                    {% endfor %}
                    {% for i in range((5-restaurant_data.stars | int)) %}
                        <span class="fa fa-star "></span>                        
                    {% endfor %}
                </h1>
                <h5>{{restaurant_data.review_count}} reviewes</h5>
                </div>
                <div class="col-6">
                    
                    <div class="row">
                        <div class="col-3">
                            5 stars
                        </div >
                        <div class="col-9">
                            <div id="myBar" class="w3-container w3-green" style="height:15px;width:{{ count_stars_percent['5'] }}%"></div>
                        </div>                       
                        
                    </div>
                    <div class="row">
                        <div class="col-3">
                            4 stars
                        </div >
                        <div class="col-9">
                            <div id="myBar" class="w3-container w3-green" style="height:15px;width:{{ count_stars_percent['4'] }}%"></div>
                        </div>                       
                        
                    </div>
                    <div class="row">
                        <div class="col-3">
                            3 stars
                        </div >
                        <div class="col-9">
                            <div id="myBar" class="w3-container w3-green" style="height:15px;width:{{ count_stars_percent['3'] }}%"></div>
                        </div>                       
                        
                    </div>
                    <div class="row">
                        <div class="col-3">
                            2 stars
                        </div >
                        <div class="col-9">
                            <div id="myBar" class="w3-container w3-green" style="height:15px;width:{{ count_stars_percent['2'] }}%"></div>
                        </div>                       
                        
                    </div>
                    <div class="row">
                        <div class="col-3">
                            1 stars
                        </div >
                        <div class="col-9">
                            <div id="myBar" class="w3-container w3-green" style="height:15px;width:{{ count_stars_percent['1'] }}%"></div>
                        </div>                       
                        
                    </div>
                    
                    
                </div>
                <hr>
                <div class="row">
                    
                    <div class="col-6">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        UKYelp Sort
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&sort_type=newestfirst">Newest First</a></li>
                        <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&sort_type=oldestfirst">Oldest First</a></li>
                        <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&sort_type=highesetrated">Highest Rated</a></li>
                        <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&sort_type=lowestrated">Lowest Rated</a></li>
                        <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&sort_type=elites">Elites</a></li>
                        </ul>
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter by rating
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&filter_type=5">5 stars</a></li>
                            <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&filter_type=4">4 stars</a></li>
                            <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&filter_type=3">3 stars</a></li>
                            <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&filter_type=2">2 stars</a></li>
                            <li><a class="dropdown-item" href="http://localhost:5000/restaurant?business_id={{ restaurant_data.business_id }}&filter_type=1">1 stars</a></li>
                        </ul>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search reviewes" aria-label="Search reviewes" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                        </div> 
                    </div>
                </div>
                
                <div class="row">
                    <!--
                    {% for review in reviews %}
                    <h4>{{review.name}}</h4>
                    <h6>{{review.from_location}}</h6>
                    <div>
                        {% for i in range(review.stars | int) %}
                        <span class="fa fa-star checked"></span>                        
                        {% endfor %}
                        {% for i in range((5-review.stars) | int) %}
                        <span class="fa fa-star "></span>                        
                        {% endfor %}
                        {% set temp_date = review.date.split()[0].split("-") %}
                        {% set review_date = "/".join([temp_date[1],temp_date[2],temp_date[0]]) %}
                        {{ review_date }}
                        
                    </div> 
                    <p>{{ review.text }}</p>
                    
                    <input type="checkbox" checked data-toggle="toggle" data-on="{{review.Helpful}}" data-off="{{review.Helpful}}" data-onstyle="success" data-offstyle="danger">
                    <input type="checkbox" checked data-toggle="toggle" data-on="{{review.Thanks}}" data-off="{{review.Thanks}}" data-onstyle="success" data-offstyle="primary">
                    <input type="checkbox" checked data-toggle="toggle" data-on="{{review.Love_this}}" data-off="{{review.Love_this}}" data-onstyle="success" data-offstyle="warning">
                    <input type="checkbox" checked data-toggle="toggle" data-on="{{review.Oh_no}}" data-off="{{review.Oh_no}}" data-onstyle="success" data-offstyle="light"> 
                    {% endfor %}
                -->
                </div>
                
                <hr>
            </div>
            
        </div>
        <div class="col-3">
            <div style="border:0.5px solid gray;padding: 5px">
                <p>Order Online & Pick Up Quick </p>
                <button class="btn btn-danger" style="width: 100%">Order Now</button>
            </div>
            <br/>
            <div style="border:0.5px solid gray;padding: 5px">
                <a > webpage </a>
                <hr/>
                <p><strong>{{ restaurant_data.phone }}</strong></p>
                <hr/>
                <p><strong><font color="blue">Get Directions</font></strong></p>
                <p>{{ restaurant_data.address + ", " + restaurant_data.city + ", " + restaurant_data.state}} </p>
                <div><button align="center">Suggest an edit </button></div>
            </div>
            <hr>
        </div>
    </div>
    
</div>

<!--Container End-->

{% endblock content %}